:root {
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --black: #000000;
}

body {
  background-color: var(--gray-700);
}

.toaster {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
}

.controls {
  padding: 1em 0 3em 0;
  height: 70vh;
}

.report {
  padding: 1em 2em 3em 0;
  height: 30vh;
}

.controls, .report {
  width: 100vw;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .toaster {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .controls, .report {
    height: 100vh;
    overflow-y: auto;
  }

  .controls {
    padding: 1em 0 3em 0;
    width: 50vw;
  }

  .report {
    padding: 1em 2em 3em 1em;
    width: 50vw;
  }
}

@media (min-width: 992px) {
  .controls {
    padding: 2em 1em 4em 1em;
    width: 70vw;
  }

  .report {
    padding: 2em 2em 4em 1em;
    width: 30vw;
    min-width: 25em;
  }
}

.report {
  background-color: var(--black);
}

.report-message {
  display: flex;
  flex-flow: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.report-message-type {
  width: 5em;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.report-message-text {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-flow: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.report-message-text-item {
  display: inline-block;
}

.report-message-normal {
  white-space: normal;
}

.report-message-pre {
  white-space: pre;
}

.report-message .report-message-text-blink {
  display: none;
}

.report-message:last-child .report-message-text:last-child .report-message-text-blink {
  display: inline-block;
  opacity: 1;
  margin-left: 0.8em;
  animation-duration: 1s;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
}

@keyframes blink {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1
  }
}
