:root {
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --black-100: 0, 0, 0;
  --black-200: 19, 21, 22;
  --black-300: 29, 31, 32;
  --black-400: 37, 40, 41;
  --black-500: 43, 46, 48;
  --black-600: 47, 51, 52;
  --black-700: 50, 54, 56;
  --black-800: 52, 56, 58;
  --black-900: 53, 57, 59;
}

body {
  background-color: rgb(var(--black-100));
}

.toaster {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
}

.section-report {
  background-color: rgb(var(--black-100));
  position: relative;
  padding: 1em 2em 3em 0;
  height: 30vh;
}

.section-controls {
  background-color: rgb(var(--black-200));
  position: relative;
  height: 70vh;
}

.section-controls, .section-report {
  width: 100vw;
  overflow-y: auto;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.display {
  background-color: rgb(var(--black-400));
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 3;
  height: 5em;
}

.controls {
  padding: 1em 0;
  transition: all 200ms ease-in-out;
}

.nav {
  background-color: rgba(var(--black-500), 0.6);
  display: flex;
  align-items: center;
  position: absolute;
  top: -4em;
  height: 4em;
  left: 0;
  width: 100%;
  z-index: 2;
  transition: all 200ms ease-in-out;
}

.menu-open .controls {
  opacity: 0.3;
  filter: blur(10px);
  transform: scale(0.95);
  pointer-events: none;
}

.menu-open .nav {
  top: 5em;
}

@media (min-width: 768px) {
  .toaster {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .section-controls, .section-report {
    height: 100vh;
    overflow-y: auto;
  }

  .section-controls {
    width: 50vw;
  }

  .section-report {
    padding: 1em 2em 3em 1em;
    width: 50vw;
  }
}

@media (min-width: 992px) {
  .section-controls {
    padding: 4em 1em 4em 1em;
    padding: 0;
    width: 67vw;
  }

  .section-report {
    width: 33vw;
    min-width: 25em;
  }
}

.report-message {
  display: flex;
  flex-flow: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.report-message-type {
  width: 5em;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.report-message-text {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-flow: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.report-message-text-item {
  display: inline-block;
}

.report-message-normal {
  white-space: normal;
}

.report-message-pre {
  white-space: pre;
}

.report-message .report-message-text-blink {
  display: none;
}

.report-message:last-child .report-message-text:last-child .report-message-text-blink {
  display: inline-block;
  opacity: 1;
  margin-left: 0.8em;
  animation-duration: 1s;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
}

@keyframes blink {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1
  }
}
